{% extends 'base.html' %}

{% block content %}
<!-- Main Content -->
  <div class="ng container" style="margin-top: 50px">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Parrot은 2019년 9월, 서강대학교 경영학과 이군희 교수님의 지도하에 창설된 데이터 사이언스 학회입니다. 다양학 학과의 구성원들로 이루어져 있습니다.</p>
        <p>Parrot이라는 이름은 인공지능의 학습에 앵무새의 언어학습 과정을 차용한다는 것에서 착안, Parrot이라는 이름을 사용하게 되었습니다.</p>
        <p>컴퓨팅 언어는 Python과 R을 주로 사용하고 있으며, EDA, 전처리, 모델링 등 기초적인 데이터 사이언스부터 머신러닝, 딥러닝에 이르기까지 다양한 분야에 걸쳐 팀프로젝트를 진행하고 있습니다.</p>
        <p style="text-align:center;">학회 공식 EMAIL 계정 : sgparrot2019@gmail.com</p>
        <p style="text-align:center;">문의 사항은 학회 메일을 통해 부탁드립니다."</p>
      </div>
    </div>
  </div>
{% endblock %}