<!-- 예시 -->
{% extends 'base.html'%}
{% block title %}Competition{% endblock %}

{% block content %}
<div class="container" id="content">
	<div class="row">
		<table class="table table-striped" style="text-align: center; border:1px solid #dddddd;">
			<thead>
				<tr>
					<th class="ng" style="background-color: #eeeeee;text-align: center;">Rank</th>
					<th class="ng" style="background-color: #eeeeee;text-align: center;">작성자</th>
					<th class="ng" style="background-color: #eeeeee;text-align: center;">제출일</th>
					<th class="ng" style="background-color: #eeeeee;text-align: center;">score</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in submissions.all %}
				<tr>
					<td class="ng">{{forloop.counter}}</td>
                    <td class="ng">{{submission.user_name}}</td>
					<td class="ng">{{submission.submission_time}}</td>
					<td class="ng">{{submission.user_ranking}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <a href="{% url 'sub_page' %}" class="btn btn-dark pull-right">제출</a>
	</div>


</div>
{% endblock %}